<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/themes/default/templates/style.css">
    <link rel="stylesheet" href="/themes/default/templates/w3.css">
  </head>
  <body>
    <header class="site-header">
      {{menu=main}}
    </header>
    <main class="content">
      <h1>{{title}}</h1>
      <div class="page-content">
        {{content}}
      </div>
    </main>
    <footer class="site-footer">
      <p>&copy; 2025 Fearless Geek Media</p>
    </footer>
  </body>
</html>