<!DOCTYPE html>
<html lang="en">
<head>
    {{module=head.html}}
</head>
<body>
    {{module=header.html}}
    <main>
        <div class="content">
            <div class="main-content">
                <h1 style="font-size: 4rem; color: #ff0055; transform: rotate(-2deg);">404</h1>
                <p class="slogan">Oops! This page is missing in action.</p>
                <div class="buttons">
                    <a href="/">Back to Home</a>
                </div>
            </div>
        </div>
    </main>
    {{module=footer.html}}
    {{custom_js}}
</body>
</html> 